{% extends 'base.html' %}

{% block title %}Overview{% endblock %}

{% block content %}
<h1 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">Overview</h1>
<h2 class="my-6 text-xl font-semibold text-gray-700 dark:text-gray-200">Personal Stats</h2>

<h2 class="my-6 text-xl font-semibold text-gray-700 dark:text-gray-200">Your Team</h2>

<h2 class="my-6 text-xl font-semibold text-gray-700 dark:text-gray-200">Next Games</h2>

<h2 class="my-6 text-xl font-semibold text-gray-700 dark:text-gray-200">Last Games</h2>
{% endblock %}