{% extends 'base.html' %}

{% block title %}Schedule{% endblock %}

{% block content %}
<h1 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">Schedule</h1>
<h2 class="my-6 text-xl font-semibold text-gray-700 dark:text-gray-200">Upcoming Games</h2>
{{ upcomingGames.to_html(index=False, classes="w-full whitespace-no-wrap") | safe}}

<h2 class="my-6 text-xl font-semibold text-gray-700 dark:text-gray-200">Whole Schedule</h2>
{{ wholeSchedule.to_html(index=False, classes="w-full whitespace-no-wrap") | safe}}

{% endblock %}