{% extends 'base.html' %}

{% block title %}Standings{% endblock %}

{%block head %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
{% endblock %}

{% block content %}
<h1 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">Standings</h1>

<!-- Line Chart -->
<canvas id="PositionslineChart" width="900" height="400"></canvas>
<script>
    var ctx = document.getElementById("PositionslineChart").getContext("2d");
    var lineChart = new Chart(ctx, {
        type: "line",
        data: {
            labels: {{lineChartLabels}},
            datasets: [
                {% for datum in positionsChartData %}
                    {
                        label: "{{datum['name']}}",
                        data: {{datum['positions']}},
                        borderColor: "{{datum['color']}}",
                        backgroundColor: "{{datum['color']}}"
                    },
                {% endfor %}
            ]
        },
        options: {
            elements:{
                line: {
                    tension: 0.,
                    fill: false,
                }
            },
            scales: {
                yAxes: [{
                    display: true,
                    ticks: {
                        beginAtZero: false,
                        reverse: true,
                        suggestedMin: 1,
                        stepSize: 1
                    },
                    scaleLabel: {
                        display: true,
                        labelString: "Position"
                    }
                }],
                xAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: "Matchday"
                    }
                }]
            },
            tooltips: {
                mode: 'index',
                intersect: false,
            },
            hover: {
                mode: 'nearest',
                intersect: true,
            },
            legend: {
                position: 'bottom'
            }
            }
    });
</script>
<h2 class="my-6 text-xl font-semibold text-gray-700 dark:text-gray-200">Overall Table</h2>
{{ table.to_html(classes="w-full whitespace-no-wrap") | safe}}

<h2 class="my-6 text-xl font-semibold text-gray-700 dark:text-gray-200">Home Table</h2>
{{ homeTable.to_html(classes="w-full whitespace-no-wrap") | safe}}

<h2 class="my-6 text-xl font-semibold text-gray-700 dark:text-gray-200">Away Table</h2>
{{ awayTable.to_html(classes="w-full whitespace-no-wrap") | safe}}

<h2 class="my-6 text-xl font-semibold text-gray-700 dark:text-gray-200">Top Scorer</h2>
{{ scorerTable.to_html(classes="w-full whitespace-no-wrap") | safe}}

<!--
<h2 class="my-6 text-xl font-semibold text-gray-700 dark:text-gray-200">Top Assist</h2>
{{ assistTable.to_html(classes="w-full whitespace-no-wrap") | safe}}
-->

<h2 class="my-6 text-xl font-semibold text-gray-700 dark:text-gray-200">Top Penaldo</h2>
{{ penaldoTable.to_html(classes="w-full whitespace-no-wrap") | safe}}

<h2 class="my-6 text-xl font-semibold text-gray-700 dark:text-gray-200">Yellow Cards</h2>
{{ yellowCards.to_html(classes="w-full whitespace-no-wrap") | safe}}

<h2 class="my-6 text-xl font-semibold text-gray-700 dark:text-gray-200">Red Cards</h2>
{{ redCards.to_html(classes="w-full whitespace-no-wrap") | safe}}


{% endblock %}